<!-- src/app/student-form/student-form.component.html -->
<h2>{{ isEdit ? 'Editar Aluno' : 'Adicionar Aluno' }}</h2>
<form (ngSubmit)="saveStudent()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input matInput [(ngModel)]="student.name" name="name" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="age">Idade</label>
    <input matInput type="number" [(ngModel)]="student.age" name="age" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="course">Curso</label>
    <input matInput [(ngModel)]="student.course" name="course" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input matInput [(ngModel)]="student.email" name="email" class="form-control" required>
  </div>
  <button mat-raised-button color="primary" type="submit">Salvar</button>
</form>
